<section class="profile-section">
  <div class="profile-info">
    <div class="top">
      <img
        class="profile-img"
        alt="Perfilphoto"
        src="https://beletrina.si/build/authors/author.0846d9ae.jpg"
      />
      <p class="profile-name">User 1</p>
    </div>
    <p class="profile-details">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu
      libero ac mauris commodo accumsan. Praesent ut magna eget libero commodo
      luctus eget at justo. Nullam in luctus lorem. Donec accumsan arcu lorem,
      eget bibendum velit lobortis et. Pellentesque tempus quam lectus, ac
      laoreet est posuere eu. Proin lacus mauris, tincidunt at orci ut,
      consectetur aliquam mauris. Phasellus metus elit, condimentum eget dui
      vel, lacinia pharetra turpis.
    </p>
  </div>
</section>
